body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;

    margin: 0;
    background-image: url(fundo.png);
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
  
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30%;
    background-color: #c9e265;
    color: black;}

.status {
    display: flex;
    gap: 20px;
    font-size: 18px;
  
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
    justify-content: center;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
}

.card-front {
    background-color: #c9e265;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: black;
}

.card-back {
    background-color: #7881FF;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

.card-front img, .card-back img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
